/* Style général */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #e9f0ff, #fdfbfb);
  color: #222;
  margin: 0;
  padding: 0;
}

.conteneur2 {

  max-width: 1000px;
  margin: 100px auto;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  padding: 2rem;
}
.conteneur2 h1 {
  
  display: none;
}
.contact-info {

  
  flex: 1;
  min-width: 250px;
}

.contact-info h3 {
  margin-bottom: 20px;
  font-size: 2em;
}
.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  margin: 20px 0;
  font-size: 1.7em;
  color: #031632;
  cursor: pointer;
  transition: 0.3s;
}
.contact-info li:hover {
  transform: translateX(5px);
  color: #2e3359;
}
.contact-form {
  flex: 2;
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group label {
  font-weight: 600;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #2e3359;
  box-shadow: 0 0 5px rgba(46, 51, 89, 0.3);
  outline: none;
}

textarea {
  resize: none;
  height: 120px;
}

.btn-submit {
  background-color: #2e3359;
  color: #fff;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #3f4780;
  transform: translateY(-2px);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .conteneur2 {
    margin-bottom: 100px;
    flex-direction: column-reverse;
    
  }
  .conteneur2 h1 {
   position: absolute;
   top: 100px;
    display: block;
    color: #021839;
    text-align: center;
  }
contact-info ul li {
    font-size: 1em;
    
}

  
}

a{
  text-decoration: none;
  
}
